apiVersion: v1
clusters:
- cluster:
    certificate-authority: %s
    server: https://tigera-manager.nch.eng.tigera.net:9443
  name: noncluster-hosts
contexts:
- context:
    cluster: noncluster-hosts
    user: tigera-noncluster-host
  name: noncluster-hosts
current-context: noncluster-hosts
kind: Config
preferences: {}
users:
- name: tigera-noncluster-host
  user:
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJ0aWdlcmEuaW8vb3BlcmF0b3Itc2lnbmVyIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50OmNhbGljby1zeXN0ZW06dGlnZXJhLW5vbmNsdXN0ZXItaG9zdCIsImF1ZCI6WyJ0aWdlcmEtbWFuYWdlciJdLCJuYmYiOjE3NTgwOTE2MTcsImlhdCI6MTc1ODA5MTYxNywia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InRpZ2VyYS1ub25jbHVzdGVyLWhvc3QiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L25hbWVzcGFjZSI6ImNhbGljby1zeXN0ZW0ifQ.TJFrnuzPPWKHdR18LKgVfn1lFW-TXM00NakS1tMh6bn0z6_qteDJac44wfHRmIkzSjhnLu-biVtCy3CLSkDOlwq09AxeD0fHPLNV3R5Owaxk2iyId_gDuIPpEG6xzuW24TzYyRrV78oc1x0yw_T4X1s1LqbBTYHZgsNJBvV420wTpl8rKB0zTM1RwEuYcfy68qO24teR6AKyQjX7OEunZt2FOkFChNtUPFgvg3J45-5RQXDMsD2EVQ0Xh4PwJuRZg5LUNPyfmnX_SzJrxfnHCfUE5djhH_EDtz99XBha8tGdVoeX42lPcxRdnHZZaplyEuAKXihBXeChnqArrGFVGg
