[calico{{if .Version}}_{{.Version}}{{end}}]
name=Calico Enterprise for RHEL {{if .Version}}{{.Version}}{{else}}$releasever{{end}}
baseurl={{.BaseURL}}/rhel{{if .Version}}{{.Version}}{{else}}$releasever{{end}}/
enabled=1
gpgcheck=0
