*.tar
.coverage
.empty
filesystem/etc/calico/confd/*
filesystem/code/*
filesystem/usr
bin
kubectl
filesystem/included-source
config/
kubeconfig.yaml
tests/k8st/infra/operator/
apiserver.crt
apiserver.key
build/
calico-node.tar.gz
certs/
dist/
nosetests.xml
package/
rhel/calico-node.spec
testfile.yaml
debian/control
